<div class="container">
  <h1>Badges</h1>

  <table class="table">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Filename</th>
      <th scope="col">Rule</th>
      <th scope="col">Status</th>
    </tr>

    <%= render @badges %>

  </table>
</div>
