<p>
<td>Elias Boussaid</td>
<td><%= link_to 'GitHub', github_url('Sadzobu', 'rails_basics'), target: "_blank" %></td><br>
<td><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: "_blank" %></td><br>
<td><%= current_year %>
</p>
