<footer class="bg-light text-center fixed-bottom">
  <p>
    <td><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: "_blank" %></td><br>
    <td>Elias Boussaid</td>
    <td><%= github_url('Sadzobu', 'rails_basics')%></td><br>
    <td><%= current_year %>
  </p>
</div>
