<h2><%= @test.title %></h2>

<h2>Questions</h2>

<p><%= link_to 'New question',  new_test_question_path(@test) %></p>

<table>
  <tr>
  <th>Body</th>
  <th colspan="3"> Actions</th>
  </tr>

  <%= render partial: 'questions/question', collection: @test.questions %>

</table>

<p><%= link_to 'Back', admin_tests_path%></p>
